
.editor{

    height:100vh;
    display:grid;
    grid-template-columns: 250px 1fr 250px;
    gap:40px;
    align-items:center;

}

.panel{

    width:300px;
    padding:40px;
    background:white;

}

.preview{

    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;

}

.remera{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}


.remera img{

    width:100%;
    display:block;

}

.print-area{
    position:absolute;

    left:190px;
    top:190px;

    width:320px;
    height:350px;

    overflow:hidden;

    border:1px dashed #999;

    z-index:10;
}
.design{

    position:absolute;

    width:150px;

    left:35px;
    top:40px;

    display:block;

    z-index:30;

    cursor:grab;

    touch-action:none;

    user-select:none;

}
.design-box{

    position:absolute;

    border:2px dashed transparent;

    padding:5px;

}


.design-box.activo{

    border-color:#111;

}


#shirtCanvas{
    width:700px; 
    height:auto;
    display:block;
}
#design-container{

    position:absolute;

    width:100%;
    height:100%;

    inset:0;

    overflow:hidden;

    z-index:20;

}
#abrirCarrito{

    position:fixed;
    right:30px;
    bottom:30px;

    padding:15px 20px;

    cursor:pointer;

}


#carritoPanel{

    position:fixed;

    top:0;
    right:-400px;

    width:350px;
    height:100vh;

    background:white;

    padding:30px;

    box-shadow:-5px 0 20px rgba(0,0,0,.2);

    transition:.4s;

    z-index:100;

}


#carritoPanel.activo{

    right:0;

}


#cerrarCarrito{

    float:right;

}


.item-carrito{

    border-bottom:1px solid #ccc;

    padding:15px 0;

}



.imagen-derecha {
    width: 300px;
    display: flex;
    justify-content: center;
    transform: translateX(-150px);
}


.imagen-derecha img {
    width: 190%;
    height: auto;
}